$zombieColor: #27ae60;
$loseColor: #c0392b;
$warningColor: #e67e22;

.slide{
    position: relative;
    width: 100%;
    height: 100%;
}

.boxes{
    position: relative;
    height: 100%;
    width: 50%;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
}

#breathBox{
    background-image: url("../svg/hearBreath.svg");
    border-right: 1px solid #34495e;
}

#hearthBox{
    background-image: url("../svg/hearth.svg");
}

.red{
    background-color: #c0392b;
}

#bolt{
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../svg/bolt.svg");
    
    background-color: #333;
    height: 300vh;
}

.centeredContent{
    height: 100%;
    display: table;
    text-align: center;
    background-color: $zombieColor;
}

#warning{
    background-color: $warningColor;
}

.saveMessage{
    width: 10%;
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.hide{
    opacity: 0;
}

.reallyHide{
    display: none;
}

body{
    overflow: hidden;
}


#explanation{
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    position: absolute;
    color:white;
}

.opaque{
    filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

#finalBad{
    background-color: $loseColor;
}